* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ul {
  list-style: none;
}

.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
main {
  width: 100%;
}

button {
  color: black;
  text-decoration: none;
  background-color: orange;
  font-size: 20px;
  padding: 4px;
  border: 4px solid orange;
  border-radius: 10px;
}

.page-name {
  font-size: 50px;
}

.nav {
  display: flex;
  gap: 15px;
  & li {
  }
  & li a {
    color: black;
    text-decoration: none;
    background-color: orange;
    font-size: 40px;
    padding: 4px;
    border: 4px solid orange;
    border-radius: 10px;
  }
}
